frontend\assets\service_account_jua.json

frontend\lib\const.dart

backend\const.py

backend\config\service_account.json

# Ignore virtual environment
backend/backend/

# Ignore __pycache__
backend/__pycache__/